/* -------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
    Vertical                                                                                      
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (orientation: portrait ){
    .contact_container {
        display: grid;
        margin-top:10vh;
        row-gap: 3vh;
    }

    .contact_container .input_email,
    .contact_container .input_name,
    .contact_container .input_message,
    .contact_container .send {
        display: grid;
        justify-content: center;

        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
        font-size: var(--msg_box_font_size);
        color: var(--theme_pink);
        border-radius: var(--msg_box_button_border_radius);
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .contact_container .input_email,
    .contact_container .input_name,
    .contact_container .input_message{
        background-color: var(--theme_grey);
    }

    .contact_container .send {
        border: 0.1em dashed var(--theme_pink);
        color:var(--theme_grey);
    }

    .contact_container .input_message {
        height: 40vh;
    }
}



/* -------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
    Horizontal                                                                                      
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media screen and (orientation: landscape ){
    .contact_container {
        display: grid;
        margin-top:10vh;
        row-gap: 3vh;
    }

    .contact_container .input_email,
    .contact_container .input_name,
    .contact_container .input_message,
    .contact_container .send {
        display: grid;
        justify-content: center;

        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        font-size: var(--msg_box_font_size);
        color: var(--theme_pink);
        border-radius: var(--msg_box_button_border_radius);
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .contact_container .input_email,
    .contact_container .input_name,
    .contact_container .input_message{
        background-color: var(--theme_grey);
    }

    .contact_container .send {
        border: 0.1em dashed var(--theme_pink);
        color:var(--theme_grey);
    }

    .contact_container .input_message {
        height: 40vh;
    }
}