/* -------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
    Vertical                                                                                      
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (orientation: portrait ){
    .desktop.main_login{
        display: grid;
        grid-template-areas: 
            "message"
            "left"
            "right";

        background-color: var(--theme_blue);
        font-size: 2em;

        width: 80vw;
        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
    }

    .desktop.main_login .right a,
    .desktop.main_login .right a:visited{
        text-decoration: none;
        color: var(--theme_grey);
    }

    .desktop.main_login .link{
        color: var(--theme_grey);

        background-color: var(--theme_pink);
        width: fit-content;

        margin-top: 0.9vh;
        margin-bottom: 0.9vh;

        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 2vh;
        padding-bottom: 2vh;

        border-radius:  0.7em 0.7em 0.7em 0;
    }

    .desktop.main_login .site_qr {
        width: 60vw;


    }

    .desktop.main_login .message{
        display: grid;
        grid-area: message;

        margin-bottom: 3vh;
        color: var(--theme_grey);
        justify-content: center;
    }

    .desktop.main_login .left{
        display: grid;
        grid-area: left;
        justify-content: center;
    }

    .desktop.main_login .right {
        display: grid;
        grid-area: right;
        margin-top: 2vh;
    }

    .desktop.main_login .copyright{
        margin-top: 4vh;
        color: var(--theme_grey);
        font-size: 0.5em;
    }
}



/* -------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
    Horizontal                                                                                      
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media screen and (orientation: landscape ){
    .desktop.main_login{
        display: grid;
        grid-template-areas: 
            "message message"
            "left right";

        background-color: var(--theme_blue);
        font-size: 2em;

        width: 80vw;
        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
    }

    .desktop.main_login .right a,
    .desktop.main_login .right a:visited{
        text-decoration: none;
        color: var(--theme_grey);
    }

    .desktop.main_login .link{
        color: var(--theme_grey);

        background-color: var(--theme_pink);
        width: fit-content;

        margin-top: 2vh;
        margin-bottom: 2vh;

        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 2vh;
        padding-bottom: 2vh;

        border-radius:  0.7em 0.7em 0.7em 0;
    }

    .desktop.main_login .site_qr {
        height: 40vh;
    }

    .desktop.main_login .message{
        display: grid;
        grid-area: message;

        margin-bottom: 3vh;
        color: var(--theme_grey);
        justify-content: center;
    }

    .desktop.main_login .left{
        display: grid;
        grid-area: left;
        justify-content: center;
    }

    .desktop.main_login .right {
        display: grid;
        grid-area: right;
    }

    .desktop.main_login .copyright{
        margin-top: 4vh;
        color: var(--theme_grey);
        font-size: 0.5em;
    }
}