/* -------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
    Vertical                                                                                      
----------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (orientation: portrait ){
    .main_container{
        display: grid;
        background-color: var(--theme_blue);
    }
}




/* -------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------
    Horizontal                                                                                      
----------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media screen and (orientation: landscape ){
    .main_container{
        display: grid;
        background-color: var(--theme_blue);
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
        box-shadow: 0 0.4em 2em black;
    }    
}






